<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlowTrack | Login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="login-page">
    <div class="container">
        <h1>FlowTrack</h1>
        <p>Conecta tu cuenta de Strava para analizar tu rendimiento ciclista</p>
        <button id="login-strava" class="btn-strava">
            <img src="https://seeklogo.com/images/S/strava-logo-02A46F8EED-seeklogo.com.png" alt="Strava Logo">
            Iniciar sesión con Strava
        </button>
    </div>

    <script src="js/login.js"></script>
</body>
</html>
