<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Rendimiento | FlowTrack</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <h2>FlowTrack</h2>
        <a href="show-data.html" class="btn">Volver a Actividades</a>
    </nav>

    <section class="analytics">
        <h3>Resumen de tu estado físico</h3>
        <canvas id="chart" width="400" height="200"></canvas>
    </section>

    <script src="js/show-analytics.js"></script>
</body>
</html>
